<div class="bg-dark mb-0" >
<div class="container justify-content-center"  >
<div class="container " >
<table Id = "table-hover"class="tabletable-striped table table-hover background-color-primary text-white">
    <thead >
      <tr> 
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Brand</th>
        <th scope="col">Expiration Date</th>
        <th scope="col">Remaining %</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="pantryItemOne != undefined">
        <th scope="row"></th>
        <td>{{pantryItemOne.GridLocation}}</td>
        <td>{{pantryItemOne.Name}}</td>
        <td>{{pantryItemOne.ItemBrand}}</td>
        <td>{{pantryItemOne.ExpirationDate}}</td>
        <td><span class="badge bg-success rounded-pill">{{pantryItemOne.RemainingAmount}}</span></td>
      </tr>
      <tr *ngIf="pantryItemTwo != undefined">
        <th scope="row"></th>
        <td>{{pantryItemTwo.GridLocation}}</td>
        <td>{{pantryItemTwo.Name}}</td>
        <td>{{pantryItemTwo.ItemBrand}}</td>
        <td>{{pantryItemTwo.ExpirationDate}}</td>
        <td><span class="badge bg-success rounded-pill">{{pantryItemTwo.RemainingAmount}}</span></td>
      </tr>
      <tr *ngIf="pantryItemThree != undefined">
        <th scope="row"></th>
        <td>{{pantryItemThree.GridLocation}}</td>
        <td>{{pantryItemThree.Name}}</td>
        <td>{{pantryItemThree.ItemBrand}}</td>
        <td>{{pantryItemThree.ExpirationDate}}</td>
        <td><span class="badge bg-success rounded-pill">{{pantryItemThree.RemainingAmount}}</span></td>
      </tr>
      <tr *ngIf="pantryItemFour != undefined">
        <th scope="row"></th>
        <td>{{pantryItemFour.GridLocation}}</td>
        <td>{{pantryItemFour.Name}}</td>
        <td>{{pantryItemFour.ItemBrand}}</td>
        <td><span style = "color: rgb(236, 5, 5);" >{{pantryItemFour.ExpirationDate}}</span></td>
        <td><span class="badge bg-warning rounded-pill">{{pantryItemFour.RemainingAmount}}</span></td>
      </tr>
      <tr *ngIf="pantryItemFive != undefined">
        <th scope="row"></th>
        <td>{{pantryItemFive.GridLocation}}</td>
        <td>{{pantryItemFive.Name}}</td>
        <td>{{pantryItemFive.ItemBrand}}</td>
        <td>{{pantryItemFive.ExpirationDate}}</td>
        <td><span class="badge bg-warning rounded-pill">{{pantryItemFive.RemainingAmount}}</span></td>
      </tr>
      <tr *ngIf="pantryItemSix != undefined">
        <th scope="row"></th>
        <td>{{pantryItemSix.GridLocation}}</td>
        <td>{{pantryItemSix.Name}}</td>
        <td>{{pantryItemSix.ItemBrand}}</td>
        <td>{{pantryItemSix.ExpirationDate}}</td>
        <td><span class="badge bg-danger rounded-pill">{{pantryItemSix.RemainingAmount}}</span></td>
      </tr>
    </tbody>
  </table>
</div>
</div>

</div>

