<table class="table table-striped table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Expiration Date</th>
        <th scope="col">Remaining %</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Rice</td>
        <td>Food</td>
        <td>12/10/2022</td>
        <td><span class="badge bg-success rounded-pill">100%</span></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Milk</td>
        <td>Drink</td>
        <td>12/10/2022</td>
        <td><span class="badge bg-success rounded-pill">90%</span></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Pasta</td>
        <td>Food</td>
        <td>12/10/2022</td>
        <td><span class="badge bg-success rounded-pill">80%</span></td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Orange Juice</td>
        <td>Drink</td>
        <td><span class="text-danger">08/31/2022</span></td>
        <td><span class="badge bg-warning rounded-pill">40%</span></td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Potato</td>
        <td>Food</td>
        <td>12/10/2022</td>
        <td><span class="badge bg-warning rounded-pill">30%</span></td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Tomato</td>
        <td>Food</td>
        <td>12/10/2022</td>
        <td><span class="badge bg-danger rounded-pill">10%</span></td>
      </tr>
    </tbody>
  </table>